#![enable(implicit_some)]
Prefab (
  entities: [
    (
      data: (
        rotate_me: (
          angular_velocity: 1
        ),
        basic: (
          graphics: (
            mesh: Shape((shape: Torus(1, 0.5 ,10,30))),
            material: (
              albedo: Generate(Srgba(0.2, 0.2, 1.0, 1.0)),
            ),
          ),
          transform: (),
        ),
      ),
    ),
    (
      data: (
        basic: (
          transform: (
            translation: (2.0, 2.0, -2.0),
            rotation: (0.0, 1.0, 0.0, 0.0),
          ),
          light: (
            ambient_color: (Srgba(0.01, 0.01, 0.01, 1.0)),
            light: Point((
              intensity: 5.0,
              color: (1.0, 1.0, 1.0),
              radius: 10.0,
            )),
          ),
        ),
      ),
    ),
    (
      data: (
        basic: (
          transform: (
            translation: (0.0, 0.0, -4.0),
            rotation: (0.0, 1.0, 0.0, 0.0),
          ),
          camera: Perspective(
            aspect: 1.3,
            fovy: 1.0471975512,
            znear: 0.1,
            zfar: 2000.0,
          ),
        ),
      ),
    ),
  ],
)