#![enable(implicit_some)]
Container(
  transform: (
    id: "fps_widget",
    anchor: BottomLeft,
    x: 50.,
    y: 15,
    width: 100.,
    height: 30.,
  ),
  background: SolidColor(0.0, 0.0, 0.0, 1.0),
  children: [
    Label(
      transform: (
        id: "fps_text",
        transparent: true,
        stretch: XY( x_margin: 10., y_margin: 5., keep_aspect_ratio: false),
      ),
      text: (
        align: Middle,
        text: "N/A",
        font: File("font/square.ttf", ("TTF", ())),
        font_size: 20.,
        color: (0.498, 0.254, 0.937, 1.0),
      ),
    )
  ],
)