#![enable(implicit_some)]
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),
    children: [
        Label(
            transform: (
                id: "fps",
                x: 102.,
                y: -11,
                width: 200.,
                height: 18.,
                anchor: TopLeft,
                transparent: true,
            ),
            text: (
                align: MiddleLeft,
                text: "N/A",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 18.,
                color: (0.498, 0.254, 0.937, 1.0),
            )
        ),
        Container(
            transform: (
                id: "main_menu_container",
                anchor: Middle,
                stretch: XY( x_margin: 50., y_margin: 50., keep_aspect_ratio: false),
                width: 20.,
                height: 20.,
            ),
            // background: SolidColor(0.09, 0.02, 0.25, 0.2),
            children: [
                Image(
                    transform: (
                        id: "logo",
                        y: 100,
                        width: 128.,
                        height: 128.,
                        anchor: Middle,
                        mouse_reactive: true,
                    ),
                    image: Texture(File("texture/logo_transparent.png", ("IMAGE", ()))),
                ),
                Button(
                    transform: (
                        id: "btn_start_game",
                        width: 200,
                        height: 30.,
                        anchor: Middle,
                        tab_order: 1,
                        mouse_reactive: true,
                    ),
                     button: (
                        text: "Start Game!",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 30.,
                        normal_text_color: (0.2, 0.2, 1.0, 1.0),
                        hover_text_color: (0.4, 0.4, 1.0, 1.0),
                        press_text_color: (0.6, 0.6, 1.0, 1.0),
                        hover_sound: File("audio/boop.ogg", ("OGG", ())),
                        press_sound: File("audio/confirm.ogg", ("OGG", ())),
                    )
                ),
                Button(
                    transform: (
                        id: "btn_exit_game",
                        y: -45,
                        width: 200,
                        height: 30.,
                        anchor: Middle,
                        tab_order: 1,
                        mouse_reactive: true,
                    ),
                     button: (
                        text: "Exit",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 30.,
                        normal_text_color: (0.2, 0.2, 1.0, 1.0),
                        hover_text_color: (0.4, 0.4, 1.0, 1.0),
                        press_text_color: (0.6, 0.6, 1.0, 1.0),
                        hover_sound: File("audio/boop.ogg", ("OGG", ())),
                        press_sound: File("audio/confirm.ogg", ("OGG", ())),
                    )
                ),
            ]
        ),

    ],
)